.filter {
    font-family: 'Roboto', sans-serif;
    width: 300px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 32px;
    margin-right: 32px;

}

.filter h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 36px;
}

.filter .filter__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter .filter__item {
    margin-bottom: 20px;
}

.filter .filter__item:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
    .filter {
        margin-bottom: 30px;
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {

    .filter {
        width: 100%;
    }

}